Final Deliverables/Industry-specific intelligent fire management system.json
[{"id":"0f0b7b5f0cc0842c","type":"tab","label":"Sign Up & Login","disabled":false,"info":"","env":[]},{"id":"a0f4487eef764d99","type":"tab","label":"Simulator Data","disabled":false,"info":"","env":[]},{"id":"dadc2d89.a365f","type":"tab","label":"Controls","disabled":false,"info":""},{"id":"7d168e746d81ae32","type":"tab","label":"UI Control","disabled":false,"info":""},{"id":"81d7999c3a9d7fd5","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a01f0f92fd78234e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ace7d1c57a264bd4","type":"ibmiot","name":"hhh","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f5dd57ae18e23463","type":"ibmiot","name":"Weather","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f7855dcf602ee5ae","type":"ibmiot","name":"Device_2","keepalive":"60","serverName":"0lsrz8.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"57b044a2be4ad380","type":"ui_group","name":"Welcome","tab":"5e5879a71a036746","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5e5879a71a036746","type":"ui_tab","name":"Smart Industry","icon":"dashboard","disabled":false,"hidden":false},{"id":"80bedd8657d1e7d7","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"44d8ecd69d736f87","type":"ui_group","name":"Simulator","tab":"80bedd8657d1e7d7","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"42acbd2282058653","type":"ui_group","name":"Controls","tab":"80bedd8657d1e7d7","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8ca81fe1acdac197","type":"ui_group","name":"Open Weather","tab":"80bedd8657d1e7d7","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"33c22001e26fce19","type":"ui_group","name":"Main Menu","tab":"80bedd8657d1e7d7","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3cb1592f77260e5c","type":"ui_tab","name":"Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"853ec5d94e81b471","type":"ui_group","name":"Home Button","tab":"3cb1592f77260e5c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2f65bd2f018e4abd","type":"ui_tab","name":"Controls","icon":"dashboard","disabled":false,"hidden":false},{"id":"ffe59448957f8fe3","type":"ui_group","name":"Temperature Data","tab":"3cb1592f77260e5c","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"03d072160d56f0af","type":"ui_group","name":"Moisture Data","tab":"3cb1592f77260e5c","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f3979768e9897c5a","type":"ui_group","name":"Humidity Data","tab":"3cb1592f77260e5c","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d144049ed26a3b44","type":"ui_tab","name":"Motor & Light Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"96042439790ac8c1","type":"ui_group","name":"Motor Controls","tab":"2f65bd2f018e4abd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"236d5a55bae1daa8","type":"ui_group","name":"Sign Up","tab":"5e5879a71a036746","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6face7c39bb8950d","type":"ui_group","name":"Login","tab":"5e5879a71a036746","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c0c79b3d0c78858d","type":"ui_group","name":"Home Button","tab":"2f65bd2f018e4abd","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"acc842be3381672c","type":"ui_tab","name":"Sign Up","icon":"dashboard","disabled":false,"hidden":false},{"id":"3a0e3758ea4895bf","type":"ui_group","name":"Sign Up","tab":"acc842be3381672c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"63e6078bafd49e86","type":"ui_tab","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"cb87d7c69dd0af87","type":"ui_group","name":"Login","tab":"63e6078bafd49e86","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5bbe23b4a83411d5","type":"ui_group","name":"Weather ","tab":"5e5879a71a036746","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"28b0b0f9bdf74448","type":"ibmiot","name":"Weather","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6220981d03d66deb","type":"ibmiot","name":"Device_2","keepalive":"60","serverName":"0lsrz8.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"0cde4e7df12e7014","type":"ui_group","name":"Motor","tab":"07f2fb6b720f8132","order":2,"disp":true,"width":"6","collapse":false},{"id":"07f2fb6b720f8132","type":"ui_tab","name":"Button","icon":"mi-videogame_asset","order":5,"disabled":false,"hidden":false},{"id":"f81ad52f576f1220","type":"cloudant","host":"https://apikey-v2-jlesqn3tr2g0igqwfkmsa3s3gj7y63efb89zxuqgxqp:001e4cc8bc8056384cc2e98dac0c6cfe@1a836f99-ad4b-44e2-83a4-90e7b7d89a93-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"17cb3f3c46b2271a","type":"ui_tab","name":"Industry","icon":"dashboard","disabled":false,"hidden":false},{"id":"3af3a406ec4c6b87","type":"ui_group","name":"Login","tab":"a8d62949d5c6c7ed","order":1,"disp":true,"width":"5","collapse":false,"className":""},{"id":"a4f3e6e17ea5047e","type":"ui_group","name":"Control","tab":"17cb3f3c46b2271a","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a8d62949d5c6c7ed","type":"ui_tab","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"a896ba2cf582e318","type":"http in","z":"0f0b7b5f0cc0842c","name":"","url":"/signup","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["24ec07ef21c1a885"]]},{"id":"41adc95dee0f9642","type":"debug","z":"0f0b7b5f0cc0842c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"24ec07ef21c1a885","type":"ui_form","z":"0f0b7b5f0cc0842c","name":"","label":"Sign Up","group":"3a0e3758ea4895bf","order":5,"width":0,"height":0,"options":[{"label":"User Name","value":"User Name","type":"text","required":true,"rows":null},{"label":"E-mail","value":"E-mail","type":"email","required":true,"rows":null},{"label":"Date of Birth","value":"Date of Birth","type":"date","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null},{"label":"Phone Number","value":"Phone Number","type":"text","required":true,"rows":null}],"formValue":{"User Name":"","E-mail":"","Date of Birth":"","Password":"","Phone Number":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":320,"y":60,"wires":[["41adc95dee0f9642"]]},{"id":"054ae417377a164f","type":"ui_form","z":"0f0b7b5f0cc0842c","name":"","label":"Login","group":"cb87d7c69dd0af87","order":1,"width":0,"height":0,"options":[{"label":"E-Mail","value":"E-Mail","type":"email","required":true,"rows":null},{"label":"Mobile Number","value":"Mobile Number","type":"number","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"E-Mail":"","Mobile Number":"","Password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":310,"y":120,"wires":[["fa6cad386954de8a"]]},{"id":"3a103c26c1883cf7","type":"http in","z":"0f0b7b5f0cc0842c","name":"","url":"/Login","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["054ae417377a164f"]]},{"id":"fa6cad386954de8a","type":"debug","z":"0f0b7b5f0cc0842c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"cbf0d9ddc0f3c6e9","type":"ibmiot in","z":"a0f4487eef764d99","authentication":"apiKey","apiKey":"28b0b0f9bdf74448","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Safety","applicationId":"","deviceType":"Industry","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":60,"wires":[["25b89b8157a9c036","2bafc3f0ea95230b","5b2af0bd10c66d92","f6d49b9d236bcd02"]]},{"id":"25b89b8157a9c036","type":"debug","z":"a0f4487eef764d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"2bafc3f0ea95230b","type":"function","z":"a0f4487eef764d99","name":"Temperature Data","func":"msg.payload=msg.payload.Temperature\nglobal.set(\"t\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["27287ecf677be36a","908027060ec54938"]]},{"id":"27287ecf677be36a","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"ffe59448957f8fe3","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#b32400","#e6002e","#272525"],"seg1":"","seg2":"","className":"","x":600,"y":100,"wires":[]},{"id":"b870cafb3c4daba5","type":"http in","z":"a0f4487eef764d99","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":130,"y":320,"wires":[["662fc0e7adb5e02b"]]},{"id":"39b3f912315f6b73","type":"http response","z":"a0f4487eef764d99","name":"","statusCode":"","headers":{},"x":530,"y":320,"wires":[]},{"id":"662fc0e7adb5e02b","type":"function","z":"a0f4487eef764d99","name":"","func":"msg.payload={\"Temperature\":global.get(\"t\"),\"Humidity\":global.get(\"h\"),\"Moisture\":global.get(\"m\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":320,"wires":[["39b3f912315f6b73"]]},{"id":"908027060ec54938","type":"ui_chart","z":"a0f4487eef764d99","name":"","group":"ffe59448957f8fe3","order":1,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":590,"y":140,"wires":[[]]},{"id":"5b2af0bd10c66d92","type":"function","z":"a0f4487eef764d99","name":"Humidity Data","func":"msg.payload=msg.payload.Humidity\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["2efcf689e5d59830","f3750eaabffe6c26"]]},{"id":"2efcf689e5d59830","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"f3979768e9897c5a","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#edf3ed","#767674","#121212"],"seg1":"","seg2":"","className":"","x":580,"y":180,"wires":[]},{"id":"f3750eaabffe6c26","type":"ui_chart","z":"a0f4487eef764d99","name":"","group":"f3979768e9897c5a","order":1,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":580,"y":220,"wires":[[]]},{"id":"f6d49b9d236bcd02","type":"cloudant out","z":"a0f4487eef764d99","name":"","cloudant":"f81ad52f576f1220","database":"mydb","service":"_ext_","payonly":false,"operation":"insert","x":130,"y":160,"wires":[]},{"id":"d18c3c36.1928e","type":"ibmiot out","z":"dadc2d89.a365f","authentication":"apiKey","apiKey":"28b0b0f9bdf74448","outputType":"cmd","deviceId":"Safety","deviceType":"Industry","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"Send Device Command","service":"registered","x":530,"y":180,"wires":[]},{"id":"930dc039.5ec5a","type":"ui_button","z":"dadc2d89.a365f","name":"Sprinkler On","group":"96042439790ac8c1","order":1,"width":3,"height":3,"passthru":false,"label":"Sprinkler On","tooltip":"","color":"","bgcolor":"grey","className":"","icon":"","payload":"{\"command\":\"Sprinkler On\"}","payloadType":"json","topic":"","topicType":"str","x":150,"y":180,"wires":[["d18c3c36.1928e","a17b48e0.e0dd58","30c795ab.dd7d5a","74d62360.ebabdc"]]},{"id":"4237cc02.29eb04","type":"ui_button","z":"dadc2d89.a365f","name":"Sprinkler Off","group":"96042439790ac8c1","order":2,"width":3,"height":3,"passthru":false,"label":"Sprinkler Off","tooltip":"","color":"","bgcolor":"grey","className":"","icon":"","payload":"{\"command\":\"Sprinkler Off\"}","payloadType":"json","topic":"","topicType":"str","x":150,"y":220,"wires":[["d18c3c36.1928e","a17b48e0.e0dd58","8e234f0c.e9a7","74d62360.ebabdc"]]},{"id":"a17b48e0.e0dd58","type":"debug","z":"dadc2d89.a365f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"30c795ab.dd7d5a","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Motor ON command sent","name":"Motor On","x":480,"y":100,"wires":[]},{"id":"8e234f0c.e9a7","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Motor OFF command sent","name":"Motor Off","x":480,"y":280,"wires":[]},{"id":"74d62360.ebabdc","type":"ui_text","z":"dadc2d89.a365f","group":"96042439790ac8c1","order":3,"width":0,"height":0,"name":"Motor","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":470,"y":140,"wires":[]},{"id":"80db49068f0eba01","type":"http in","z":"dadc2d89.a365f","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["a17b48e0.e0dd58","d18c3c36.1928e","599da93648670769","b9553bb5f3db8b31"]]},{"id":"491cbfecaf82a8c4","type":"http response","z":"dadc2d89.a365f","name":"","statusCode":"","headers":{},"x":650,"y":320,"wires":[]},{"id":"599da93648670769","type":"function","z":"dadc2d89.a365f","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":320,"wires":[["491cbfecaf82a8c4"]]},{"id":"b9553bb5f3db8b31","type":"ibmiot out","z":"dadc2d89.a365f","authentication":"apiKey","apiKey":"28b0b0f9bdf74448","outputType":"cmd","deviceId":"Safety","deviceType":"Industry","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"Send Device Command","service":"registered","x":530,"y":460,"wires":[]},{"id":"541a88b65826ea70","type":"ui_button","z":"dadc2d89.a365f","name":"Exhaust On","group":"96042439790ac8c1","order":1,"width":3,"height":3,"passthru":false,"label":"Exhaust On","tooltip":"","color":"","bgcolor":"grey","className":"","icon":"","payload":"{\"command\":\"Exhaust On\"}","payloadType":"json","topic":"","topicType":"str","x":150,"y":460,"wires":[["b9553bb5f3db8b31","767d1891a09cfec1","50f5ae711e48f286","a17b48e0.e0dd58"]]},{"id":"e8ad8d7bcf6e8121","type":"ui_button","z":"dadc2d89.a365f","name":"Exhaust Off","group":"96042439790ac8c1","order":2,"width":3,"height":3,"passthru":false,"label":"Exhaust Off","tooltip":"","color":"","bgcolor":"grey","className":"","icon":"","payload":"{\"command\":\"Exhaust Off\"}","payloadType":"json","topic":"","topicType":"str","x":150,"y":500,"wires":[["b9553bb5f3db8b31","dbccd07c494ae0c7","50f5ae711e48f286","a17b48e0.e0dd58"]]},{"id":"767d1891a09cfec1","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Motor ON command sent","name":"Motor On","x":480,"y":380,"wires":[]},{"id":"dbccd07c494ae0c7","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Motor OFF command sent","name":"Motor Off","x":480,"y":520,"wires":[]},{"id":"50f5ae711e48f286","type":"ui_text","z":"dadc2d89.a365f","group":"96042439790ac8c1","order":3,"width":0,"height":0,"name":"Motor","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":470,"y":420,"wires":[]},{"id":"27e1945afe908576","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":460,"y":80,"wires":[[]]},{"id":"f015050d2e27ef2f","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"57b044a2be4ad380","order":1,"width":6,"height":"1","passthru":false,"label":" <font size=5>ENTER","tooltip":"","color":"","bgcolor":"black","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":120,"y":80,"wires":[["27e1945afe908576"]]},{"id":"3b0f9cb94a8b73c1","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":460,"y":260,"wires":[[]]},{"id":"7f5a1625d6cec16a","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"44d8ecd69d736f87","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Simulator  Data","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"2","payloadType":"num","topic":"","topicType":"str","x":140,"y":260,"wires":[["3b0f9cb94a8b73c1"]]},{"id":"83b23727d33d2ae9","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"42acbd2282058653","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Sprinkler &<br> Exhaust Control","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"3","payloadType":"num","topic":"","topicType":"str","x":200,"y":320,"wires":[["fd33c942084c5f97"]]},{"id":"62a46750661c18e6","type":"ui_button","z":"7d168e746d81ae32","name":"Home","group":"33c22001e26fce19","order":1,"width":0,"height":0,"passthru":false,"label":"Main Menu","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":590,"y":80,"wires":[["7a05cbe4dccf88da"]]},{"id":"7a05cbe4dccf88da","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":80,"wires":[[]]},{"id":"cddf17e3b9e9b0a2","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"236d5a55bae1daa8","order":1,"width":6,"height":"1","passthru":false,"label":" <font size=5>Sign Up","tooltip":"","color":"","bgcolor":"black","className":"","icon":"","payload":"4","payloadType":"num","topic":"","topicType":"str","x":120,"y":140,"wires":[["e3568961bbe1d43e"]]},{"id":"c4355997c07c7eb5","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"6face7c39bb8950d","order":1,"width":6,"height":"1","passthru":false,"label":" <font size=5>Login","tooltip":"","color":"","bgcolor":"black","className":"","icon":"","payload":"5","payloadType":"num","topic":"","topicType":"str","x":110,"y":200,"wires":[["a6c92081b47afd92"]]},{"id":"e3568961bbe1d43e","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":460,"y":140,"wires":[[]]},{"id":"a6c92081b47afd92","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":460,"y":200,"wires":[[]]},{"id":"fd33c942084c5f97","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":460,"y":320,"wires":[[]]},{"id":"8ccd15a2411362a2","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":260,"wires":[[]]},{"id":"168069f647c0539e","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"853ec5d94e81b471","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":260,"wires":[["8ccd15a2411362a2"]]},{"id":"6057145d7af7543a","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"c0c79b3d0c78858d","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":320,"wires":[["0c80a642012f77ae"]]},{"id":"0c80a642012f77ae","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":320,"wires":[[]]},{"id":"bedbe3e8cdf5a88d","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":200,"wires":[[]]},{"id":"c6f39c11102a4fe6","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"3a0e3758ea4895bf","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":200,"wires":[["bedbe3e8cdf5a88d"]]},{"id":"4f83a589c765974b","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":140,"wires":[[]]},{"id":"51d37ff24b7d84cd","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"cb87d7c69dd0af87","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":140,"wires":[["4f83a589c765974b"]]}]